body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 150%;
}
/* reset */
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
/* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}
.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.socials-item-icon {
  fill: #4d5ae5;
}

/* end common */

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  padding: 24px 0;
  display: block;
}
.nav-link.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.logo-accent {
  color: #2e2f42;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* end header */

/* hero section*/

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section-title {
  max-width: 496px;
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px 0;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* end hero section */

/* adv section */
.adv-section {
  padding: 120px 0;
}
.adv-section-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.adv-list-item {
  width: calc((100% - (24px * 3)) / 4);
}
.adv-list-item > .sub-title {
  margin-bottom: 8px;
}
.adv-icon-wrapper {
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}
/* end adv section */

/* team section */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item-text {
  padding: 32px 0;
}
.team-item-text > .sub-title {
  margin-bottom: 8px;
  text-align: center;
}
.team-item-text > .text {
  text-align: center;
  margin-bottom: 8px;
}
.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-icon {
  fill: #f4f4fd;
}

/* end team section */

/* portfolio-section */

.portfolio-section {
  background-color: #ffffff;
  padding: 120px 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-text > .sub-title {
  margin-bottom: 8px;
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* end portfolio section */
/* footer-section */
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}

.footer-logo-accent {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-socials-icon {
  fill: #f4f4fd;
}

/* end footer section */
